{% extends 'GeographProgdechBundle:Default:frontend_layout.html.twig' %}

{% block title %}Identification des utilisateurs{% endblock %}

{% block content %}
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<h2 class="text-center">{{ block('title') }}</>
<form action="{{ path('login_check') }}" method="post" class="form-signin form-horizontal">
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Entrez votre nom d'utilisateur" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Entrez votre mot de passe" />
        </div>
    </div>

    {#
        Si vous voulez contrôler l'URL vers laquelle l'utilisateur est redirigé en cas de succès
        (plus de détails ci-dessous)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-log-in"></span> Connexion</button>
        </div>
    </div>
</form>
{% endblock %}
