html, body {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
body { 
}
.top100{
    margin-top: 100px;
}
.footer {
    position: absolute;
    bottom: 0px; left: 0px;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

@media (min-width: 1200px) {
  .container {
    width: 100%; height: 100%;
  }
}